header{
    background-color:#DEC4B4;
    color: black;
    text-align: center;
    padding: 20px 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFE1CF;
    line-height: 1.6;
    color: #333;
}

section {
    background-color: #DEC4B4;
    padding: 20px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 30px;
}

section p {
    text-align: center;
    font-size: 16pt;
    color: #333;
    padding: 10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    height:300px;
}

.contenu {
    text-align: center;
}

.contenu h2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 28px; /* Augmente la taille du titre principal */
}

.contenu-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
    margin-bottom: 30px;
}

.texte {
    width: 50%;
    text-align: left;
    padding: 20px;
}

.texte h4 {
    font-size: 24px; /* Augmente la taille du sous-titre */
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.image {
    width: 50%;
    text-align: center;
}

.image img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
}

/* Alternance des images */
.gauche .image {
    order: 1;
}

.gauche .texte {
    order: 2;
}

.droite .image {
    order: 2;
}

.droite .texte {
    order: 1;
}


h1{
    color: black;
    text-align: center;
    padding: 5px 0;
}

h2{
    color: black;
    text-align: center;
    padding: 5px 0; 
}

#logo{
    height: 70px;
    position:absolute;
    top: 0%;
}


footer{
    background-color: #DEC4B4;
    padding: 20px;
    color: black;
    margin-top: 20px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: #B09084;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    z-index: 1000;
}

nav a{
    font-size: 18pt;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid #B09084;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #B09084;
    position: absolute;
    width: 100%;
    z-index: 1000;
    border-radius: 20px;
}
nav > ul li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

table{
    width: 100%;
}

#nom{
    text-align: left;
    width: 50%;
}

#groupe{
    text-align: right;
    width: 50%;
}

#btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #B09084;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

#btn-top:hover {
    background-color: #8A6D60;
}
